.search-panel {
    display: flex;
    flex-direction: column;
}

.search-panel .input-box {
    position: relative;
    background-color: #282828;
    padding: 1.5em 0;
}

.search-panel .input-box .input-box-label-container {
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: .5em;
}
.search-panel .input-box .input-box-label-container .input-label {
    display: inline-block;
    padding-right: 10px;
}

.search-panel .input-box .input-box-input {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.6;
}

.search-panel .filter-options-section {
    background: rgba(40, 40, 40, 0.6);
    transition: max-height, opacity, 0.6s linear;
    max-height: 0px;
    flex-basis: 150%;
    opacity: 0;
}

.search-panel .show-filter-options-section {
    max-height: 250px;
    opacity: 1;
}

.search-panel .filter-options-section .filter-tags {
    display: inline-block;
    border: 1px solid black;
    border-radius: 40px;
    padding: 0.4em;
    min-width: 100px;
    text-align: center;
    margin-right: 3px;
}

.search-panel .filter-options-section .filter-tags.selected-tag {
    background: rgba(128, 128, 128, 0.9);
}

.search-panel .filter-options-section .filter-tags:hover {
    background-color: rgba(248, 248, 255, 0.9);
    cursor: pointer;
    color: black;
}

.search-panel .filter-content-section {
    flex-grow: 1;
    overflow: scroll;
}

.bug-card {
    width: 100%;
    border: 1px solid rgb(128,128,128);
    padding: 10px;
    margin-top: 10px;
}

.bug-card h4 {
    font-size: 2rem;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.bug-card .flex-row {
    padding: 5px 0px;
}

.bug-card .flex-row .value {
    color: white;
}

/** anims **/
.filter-options-section-slide-down {
    animation-name: filter-options-section-slide-down, show;
    animation-duration: 1.5s, 0.75s;
}

.filter-options-section-slide-up {
    animation-name: filter-options-section-slide-up, show;
    animation-duration: 1.0s, 0.5s;
}

@keyframes show {
    0% { opacity: 0}
    100% {opacity: 1}
}

@keyframes filter-options-section-slide-down {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 500px;
    }
}
@keyframes filter-options-section-slide-up {
    0% {
        max-height: 200px;
    }

    100% {
        max-height: 0;
    }
}
