<div class="full-size search-panel">
    <div class="input-box">
        <div class='content-spacing flex-row'>
            <div class="flex-col">
                <div class="input-box-label-container">
                    <h4 class="no-margin-padding input-label">Start searching</h4>
                    <div class="small-text inline clickable underline"  ng-click="$ctrl.toggleAdvanceFiltering()">
                        <i>{{$ctrl.model.enableAdvanceFiltering ? 'Show Filter  Options' : 'Hide Filter Options'}}</i>
                    </div>
                </div>
                <input type="text" class="input-box-input" value="" placeholder="Start typing..." ng-model="$ctrl.model.inputQuery" ng-model-options="{ debounce: 200 }">
                <filter-tag-pill ng-repeat="pillItem in $ctrl.model.filterPillModels"
                                 model="pillItem"
                                 on-remove="$ctrl.onRemovePillItem(pillItem)"
                >
                </filter-tag-pill>
            </div>
        </div>
    </div>

    <div id='filter-options' class="filter-options-section content-spacing" ng-class="{ 'show-filter-options-section': !$ctrl.model.enableAdvanceFiltering}">
        <search-filter-options-container model="$ctrl.model.filterOptionsSelected" on-clear-all="$ctrl.clearAllFilterOptionSelection()"></search-filter-options-container>
    </div>

    <div class="filter-content-section content-spacing">
        <div class="bug-card" ng-repeat="bugs in $ctrl.bugList | filter: {description: $ctrl.model.inputQuery} | tag: $ctrl.model.filterOptionsSelected">
            <h4 contenteditable content-editable-model-updater ng-model="bugs.description" ng-model-ui-indicator class="color-transitioner">{{bugs.description}}</h4>
            <div class="flex-row secondary-text">
                <div class="flex-col-3">
                    <div class="flex-row">
                        <div class="flex-col-2">Feature:</div>
                        <div class="flex-col-2 value">{{bugs.feature}}</div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-col-2">Status:</div>
                        <select class="custom-select" ng-model="bugs.status" ng-model-ui-indicator>
                            <option ng-value="'COMPLETE'" >COMPLETE</option>
                            <option ng-value="'IN_PROGRESS'" >IN_PROGRESS</option>
                            <option ng-value="'NOT_STARTED'" >NOT_STARTED</option>
                        </select>
                    </div>
                    <div class="flex-row">
                        <div class="flex-col-2">Priority:</div>
                        <select class="custom-select" ng-model="bugs.priority" ng-model-ui-indicator>
                            <option ng-value="1" >1</option>
                            <option ng-value="2" >2</option>
                            <option ng-value="3" >3</option>
                        </select>
                    </div>
                </div>
                <div class="flex-col-3">
                    <div class="flex-row">
                        <div class="flex-col-2">SubmittedBy:</div>
                        <div class="flex-col-2 value">{{bugs.submittedBy}}</div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-col-2">Modified Date:</div>
                        <div class="flex-col-2 value">{{bugs.modifiedDate | date : 'mediumDate'}}</div>
                    </div>
                    <div class="flex-row">
                        <div class="flex-col-2">Submitted Date:</div>
                        <div class="flex-col-2 value">{{bugs.submittedDate | date : 'mediumDate'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
