.search-filter-options-container ._720kb-datepicker-calendar._720kb-datepicker-open {
    right: 0;
    top: 23px;
}
.search-filter-options-container .filter-item-row-container {
    padding-top: 10px;
}
